<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container">

    <a href="/" class="navbar-brand">
      <img src="https://toppng.com/uploads/preview/clip-free-library-cats-vector-real-free-clipart-image-of-cat-11563246593mhsijjkle2.png" width="100" />
    </a>

    <button type="button" class="navbar-toggler"
    data-toggle="collapse"
    data-target="#listMenu"
    aria-controls="listMenu"
    aria-expanded="false"
    aria-label="UnZip  Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="listMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/photos" class="nav-link active">My Photos</a></li>
        <li class="nav-item"><a routerLink="/photos/new" class="nav-link">Upload Photo</a></li>
      </ul>
    </div>

  </div>
</nav>
